<!DOCTYPE html>
<html>
<head>
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.5/socket.io.min.js"></script>
  <script src="static/javascript/script.js"></script>


  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin=""/>
  <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>

  <script src="static/javascript/marker-direction.js"></script>
  <title>Test FlightData APIs</title>

  <script>
    var arrow_url = "static/images/arrow.png";
    var airport_url = "static/images/red.png";
  </script>

  <style>
    body {
      margin-top: 1em;
      margin-bottom: 3em;
    }
    
    .contListStuff{
      margin-left: 2em;
      overflow-y: scroll; 
      height:200px;
    }
    #mapid { 
      height: 500px; 
    }
    ::-webkit-scrollbar {width: 4px;}
    ::-webkit-scrollbar-track {background: #f1f1f1; }
    ::-webkit-scrollbar-thumb {background: #888;}
    ::-webkit-scrollbar-thumb:hover {background: #555;}
  </style>

</head>



<body>
  <div class="container">
    <h1>Test FlightData APIs</h1>
  </div>


  <div class="container">
    <h3>Fonctionnement</h3>
    - Sélectionner un marqueur (vol ou aéroport) pour ouvrir la popup <br>
    - Cliquer en dehors de la zone orange pour choisir une autre zone où chercher les vols
  </div>

  <hr>

  <div class="container" id="content">

      <b>Last update : </b><span id="DOM-lastUpdate"></span>
      <br>

      <b>Number of flights : </b><span id="DOM-numberFlights"></span>
      <br>

      <div class="row">
        <div class="col" >
          <b>Flights : </b><br>
          <div class="contListStuff">
            <span id="DOM-listFlights"></span>
          </div>
        </div>
        
        <div class="col">
          <b>Airports : </b><br>
          <div class="contListStuff">
            <span id="DOM-listAirports"></span>
          </div>
        </div>

        <div class="col">
          <b>Runways : </b><br>
          <div class="contListStuff">
            <span id="DOM-listRunways"></span>
          </div>
        </div>

        <div class="col">
          <b>Navaids : </b><br>
          <div class="contListStuff">
            <span id="DOM-listNavaids"></span>
          </div>
        </div>

      </div>
      
      <b>Map : </b><br>
      <div id="mapid"></div>
  </div>


</body>

<script src="static/javascript/map_handler.js"></script>
<script src="static/javascript/traffic_handler.js"></script>
<script src="static/javascript/airport_handler.js"></script>

</html>
