beautifulsoup4==4.10.0
bidict==0.21.2
certifi==2021.10.8
charset-normalizer==2.0.7
click==7.1.2
Cython==0.29.24
dnspython==1.16.0
eventlet==0.30.1
Flask==1.1.2
Flask-SocketIO==5.0.1
gevent==21.1.2
gevent-websocket==0.10.1
greenlet==1.0.0
gunicorn==20.0.4
idna==3.3
isodate==0.6.0
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
numpy==1.21.3
Owlready2==0.35
pandas==1.3.4
pyparsing==3.0.5
python-dateutil==2.8.2
python-engineio==4.0.0
python-socketio==5.0.4
pytz==2021.3
rdfextras==0.4
rdflib==6.0.2
requests==2.26.0
six==1.16.0
soupsieve==2.3.1
tqdm==4.62.3
urllib3==1.26.7
Werkzeug==1.0.1
zope.event==4.5.0
zope.interface==5.2.0

# With postgreSQL
# Flask-SQLAlchemy==2.5.1
# psycopg2-binary==2.9.1
# SQLAlchemy==1.4.26