body {
    margin-top: 1em;
    margin-bottom: 3em;
}

.contListStuff{
    margin-left: 1em;
    overflow-y: scroll; 
    overflow-x: scroll;
    height:200px;
    white-space: nowrap;
}
#mapid { 
    height: 500px; 
}    
::-webkit-scrollbar {width: 4px; height: 4px}
::-webkit-scrollbar-track {background: #f1f1f1; }
::-webkit-scrollbar-thumb {background: #888;}
::-webkit-scrollbar-thumb:hover {background: #555;}

.airportToolTip {
    background-color: #c5ffb7;
}
.runwayToolTip {
    background-color: #a5a5a5;
}
.navaidToolTip {
    background-color: #fff457;
}

.accordion-button {
    background-color: rgb(211, 211, 211);
    border: 1pt solid rgb(165, 165, 165);
}

.ui-autocomplete-loading { 
    background:url(http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.2/themes/smoothness/images/ui-anim_basic_16x16.gif) no-repeat right center 
}

.entry {
    font-variant: small-caps;
}

#ui_speech {
    height:100%;
    display: flex;
    align-items: center; 
}

.visualizer {
    display: block;
    margin: 0 auto;
    margin-left: 1pt;
}

#DOM-flightDescription {
    font-family: "DejaVu Sans Mono", "monospace";
}

#DOM-responseQuery {
    font-family: "DejaVu Sans Mono", "monospace";
}

#speech_results {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: left;
    min-height: 30px;
    max-height: 50px;
}

.accordion-button:not(.collapsed) {
    color: #000000;
    background-color: rgb(211, 211, 211);
    box-shadow: none;
}

.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg);
}